<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
    <script src="../js/Statistics.js"></script>
</head>

<body ng-controller="StatisticsCtrl">

    <div class="col-md-3">
        <p class="lead">Projects</p>
        <div>
            <div class="list-group">
                <div ng-repeat="proyecto in listaProj">
                    <button class="list-group-item list-group-item2" ng-click="select(proyecto)">
                        {{proyecto}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="plot">
        <nvd3 options="optionsBar" data="data"></nvd3>
    </div>


</body>

</html>